<div class="main-container">


    <div class="log-in-container" id="log-in">
        <div class="container container-inside">
            <div class="card">
                        <div class="card-body rounded">
                            <h5 class ="mt-4 mb-4">Create Zen</h5>
                            <!-- Form -->
                            <form id="form" action="/main/send-zen" method="POST" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="email" class="form-control" name="destination"
                                                placeholder="Destination Email"><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="text" class="form-control" name="title"
                                                placeholder="Title"><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-form mt-0">
                                    <textarea type="text" class="form-control" name="description"
                                        placeholder="Description" rows="4" cols="50"></textarea><br>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="form-control-file custom-file-input" id="createCustomFile"
                                        name="image">
                                    <label class="custom-file-label" for="customFile"></label>

                                </div><br><br>
                                <div class="input-group md-form mt-0">
                                    <input class="form-control" name="links[]" type="text"
                                        placeholder="Type something" />
                                    <button class="btn btn-info btn-rounded waves-effect z-depth-0" type="button"
                                        onclick="add_link_field()">
                                        <span>+</span>
                                    </button>
                                </div>
                                <br>
                                <div class="link_fields">

                                </div>
                                <div class="md-form mt-0">
                                    <input type="text" class="form-control" name="additional_info"
                                        placeholder="Additional Info"><br>
                                </div>

                                                                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                    type="submit">Send</button>
    {{!-- <div class="card">
        <div class="card-body ">
                <h1> Create Zen</h1>
            <!-- Form -->
            <form id="form" action="/main/send-zen" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <label class="form-label" for="destination">Send to:</label>
                            <input type="email" class="form-control" name="destination" placeholder="yourFriendEmail@ironhack.com"><br>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <label class="form-label" for="title">Title:</label>
                            <input type="text" class="form-control" name="title" placeholder="Meditation Workshop"><br>
                        </div>
                    </div>
                </div>
                <div class="md-form mt-0">
                    <label class="form-label" for="description">Description:</label>
                    <input type="text" class="form-control" name="description" placeholder="I never liked meditation but this methodology worked for me!"><br>
                </div>
                <label class="form-label" for="description">Upload Image:</label>
                <div class="custom-file">
                    <input type="file" class="form-control-file custom-file-input" id="createCustomFile" name="image">
                    <label class="custom-file-label" for="customFile"></label>
                </div><br><br>
                <label class="form-label" for="links[]">Add links:</label>
                <div class="input-group md-form mt-0">
                    <input class="form-control" name="links[]" type="text" placeholder="https:// " />
                    <button class="btn btn-info btn-rounded waves-effect z-depth-0" type="button" onclick="add_link_field()">
                        <span>+</span>
                    </button>
                </div>
                <br>
                <div class="link_fields">
                </div>
                <label class="form-label" for="additional-info">Additional Information:</label>
                <div class="md-form mt-0">
                    <input type="text" class="form-control" name="additional-info" placeholder="Use my name and you'll have a friendly discount!"><br>
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                    type="submit">Send</button>



                            </form>
                        </div>
                    </div>
                </div>
    </div> --}}