<div class="log-in-container" id="log-in">
    <div class="container container-inside">
        <div class="card">
            <div class="card-body px-lg-6 rounded mt-6">
                <h5 class="info-color white-text py-2">Create Zen</h5>
                <!-- Form -->
                <form id="form" action="/main/send-zen" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form text-left">
                                <small><label class="form-label" for="destination">Send to: </label></small>
                                <input type="email" class="form-control" name="destination"
                                    placeholder="yourFriendEmail@ironhack.com"><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form text-left">
                                <small><label class="form-label" for="title">Title:</label></small>
                                <input type="text" class="form-control" name="title"
                                    placeholder="Meditation Workshop"><br>
                            </div>
                        </div>
                    </div>
                    <div class="md-form mt-0 text-left">
                        <small><label class="form-label" for="description">Description:</label></small>
                        <textarea rows="4" cols="50" type="text" class="form-control" name="description"
                            placeholder="I never liked meditation but this methodology worked for me!"></textarea><br>
                    </div>

                    <div class="text-left">
                        <small><label class="form-label" for="description">Upload Image:</label></small>
                        <div class="md-form mt-0">
                        </div>

                        <div class="custom-file">
                            <input type="file" class="form-control-file custom-file-input" id="createCustomFile"
                                name="image">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                    <br>

                    <div class="md-form mt-0 text-left">

                        <small><label class="form-label" for="additional">Additional Information:</label></small>
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" name="additional"
                                placeholder="Use my name and you'll have a friendly discount!"><br>
                        </div>

                    </div>


                    <div class="md-form mt-0 text-left">
                        <small><label class="form-label" for="links[]">Add links:</label></small>
                        <div class="input-group md-form mt-0">
                            <input class="form-control" name="links[]" type="text" placeholder="https:// " />
                            <button class="btn btn-info btn-rounded waves-effect z-depth-0" type="button"
                                onclick="add_link_field()">
                                <span>+</span>
                            </button>
                        </div>

                    </div>
                    <br>
                    <div class="link_fields">
                    </div>

                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                        type="submit">Send</button>
                </form>

                {{#if message }}
                <div class="alert alert-danger">{{ message }}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
</div>