<div class="container">
    <h1 class="text-center">Edit Profile</h1>
    <div class="row container-inside">
            <div class="card">
                <div class="card-body text-left">
        <form action="/main/edit-profile/" method="post">
            <div class="form-row">
                <div class="col">
                    <!-- Username -->
                    <div class="md-form">
                        <input type="text" class="form-control" name="username" placeholder="Your username"><br>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="text" class="form-control" name="email" placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" class="form-control" name="password" placeholder="********"><br>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Update</button>
            </div>
        </form>
     </div>
</div>
</div>
</div>

</div>