<div class="container">
        <h1 class="text-center">Profile</h1>
    <div class="row container-inside">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-left">
                  <strong>Username:</strong> {{user.username}}<br>
                  <strong>Email:</strong> {{user.email}}<br>
                  <strong>createdAt:</strong> {{dateFormat user.created_at}}<br>
                  {{!-- <a href="/main/edit-profile/">Edit</a> --}}
                </div>
            </div>
        </div>
    </div>
</div>

