<div class="card mb-4">
    <div class="card-body">
        <img src="xUWFxUVFRYYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGy0lHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAABAgUGB//EAD8QAAEDAQUFBwIDBgQHAAAAAAEAAhEDEiExQVEEE2FxkQWBobHB0fAUUgYV8SIyQmKS4RZTotIjJDNjcnOC/8QAGwEAAgMBAQEAAAAAAAAAAAAAAQMAAgQFBgf/xAArEQACAgEDBAEBCQEAAAAAAAAAAQIRAxIhUQQTMUEUYQUiI1JxgZHR4TL/2gAMAwEAAhEDEQA/AELKllMNpE4CVW74L2Z8/tgbKllH3alhQrqAWVdlHsqWESawFlXZR7KlhQGsBZV2EewpYRBrAWFLCYsKrChNYCwpYR7ClhQmsXsqFqYsKWECaxawpZTFhVZUDrAWVVlMWFVhQOoXsqrKYsqrKFB1C9lSyj2VVlCg6gFlZspiyqsoUHULlqotRy1UWqUW1ALKqyj2VVlAtqA2V67sPbrNJjIuBnW/VeapUSTAGK7WybIWAEuF83BwIEd+Ky9RTVM6PQ6lK0j2QFOqWktaXNIdMXgjDzKd27ZaNRobUY0iQRIm8ZryWzdpFsAAc11dj2x5P7XNcqeOS3O5GcZLwdBtOkBFkf0kKJWptIlRUpl7Rwdgoj7T0Tr9jY7FqXd2jo3qgu2l5zjkuppnJ34OIsmKEdPn9hp2wNSdXZmDMLN5xJU3abFNeWZ5zjLxEVfszckP6ZPiktCkmqdGSWFP0c76dV9Ounule6R7pX46OZ9OoNnK6e6U3SndJ8ZHM3BV7grp7pTdqd0Hxkcv6cqfTldPdImz0AXAGYzjGEHmpWWj0mp0jk/TFdjsrsWk9jnVHEEj9iMjfedeSerPpMaRTbfmTeeUrn2nRAMDQJDyzyL7uxsh0uLBK5/e+hzq/Zj24gdxBS24K6xaVjdJ8cjrcyT6eDf3UzmGgVX05XT3K19MYtQYwnKdJR7pRdMck0Cq3BXTNFVulO6T45y9wVRoldmhsbnzZEwJPIIRpId5eC3xXVnKNErJprrt2UnBpOVwlCqbOQYIgjEFFZUR9M1ucvdqt2ugaSyaaOsCwsR3SgoroUtlLjDRJTNPsp5JAF4+RKVPMo+zVh6RzfgRa24N+Sn6OykjBao7LBvERqnm0nDC/OJhYp5Dr4sVIRbTAvJTVLaSRcbgudtAe9xAbhdAR9iqWQWvyKEobWGOT71egr9rvUXKqyXEiYlRX7KFvqHwdjdBXuxxXnHfimmP4X98D1Wmfiulo/oPdZ/nYfzoPw5fkPRiktihxHj7Lzez/i6i9zWi3fmREH1TXaHa4BbYeHHGAQQQDePS/gi+tx02pIC6PenFnc3HEdVYocR1XK7K7ZbXkC5wi7muq9pbjdn3apkOoU1cZIrLplF04sgpFTcnRVvOPDv0VNrAjHgmdxi+zE1uzopuytNfN4Wg5TWw9qIOwqsozo5qke4UeHfYFZW6Z0F6tba8XGADzVJTtDceLS7sAWKnNTDq1+vcoSwqdxh7EPTFiE1Q2RrmyXwdIlAkX5rJrkYTCMpSfgrDFBO5BnbIQReCDoV3GNY2kWuFxBwx/VeedtZIAvuwXRp9ptLA1zcEjKpyqzTg7ULr3yclzFkM1TO0vZJLcL7lilUZBtAzdBT9boyrDFS3Oj2PDTfgcjmt9q0ab4LRDjmMIGR4rmVdqH8IKXG0u+FI0S1ajW549Oh+D1OyEhglohowGuErgV6c1HOImSTGAgrNHtJzW2QFdTtQlsFonVVhCcW2vZec8c0k/QrtGyhsmYA18rkq2zIkwjv21yQfJWmLlW5llHGnsjqU9pZTvbj1R6W2WpMkclwbHFXf9x6qjx2NjlrY6zagkk3ooqiJtBcMSP4iqs8UO2HvI6zHD+HHNA2kzikmmMCsuerKDsq8qqqDguFwUSxqHVRWpi+4jy3+H9qNwovzmQMRz9kSn+D9sJuo1QDJH7LspuuGceS+8yVA5eV7P1PQ0j4ePwhtxEtoVReALo5GHYC9Gofg3tEwNw4Tm5zBHfK+1Sl9t2wU2yZ7o9SosC8EPkdH8CdoMImlcL/+pSjv/aW3fgva4g7oA61WXZ33+69aarqrrdR1qJsgQABoQ24nnKaDQ4ReOIF6dDolJ7yFzyaV4PCj8KV2gh1bZwP/AHCZFwgGPHRWey6rQANoojG00VLu+JBkTgvWbV2GH3+KRd+HyMD4BdDF9mYGt8jOTm6/PB7Y9jnUdiqUWltPbaBaT/3AQIuj/hmNIBQNqbUMf89TuMwN+MgMqV6fqdlOxAuN4ui44SEA9mO0W2P2dgqtcq/X/DBP7VzRk/w1/H+nR2btRsC3WpnWwysThef2mAcVnaO3aY/dtu/+bPmVzxsZGXh3If0h0WyGLHHa2/1r+jJk+0JNXpS/n+xh34hOVPq4D0Wf8RO/yx/X/ZLO2Y6LB2bgnacXAn5suR3/ABC//LH9f9lD2+/KmP6v7JE7NwU+n8bvX0Q04uCfLlyNnt1/2Dqs/nlT7G9SlDsqh2XiracQPlS5Gvzqp9jepWqnbT7oYJznDuvSB2Y6qjsx4eKmnGFdTLkaPbNX7W+Kye2av2t8fdKmg7gsbl3BHTjLLPLkbPbNb7Wf6vdZPbNb7WePuld07TxWTTOYKmnGWWeXI0e2a32s6H3VHtmr9rfH3SpYeKyWnippx8FlnlyMHtero3of9yGe1qujeh/3INg8VN0pWPgPelyFPatXRvQ+6n5rV/k6H3Qd0VRpFSsfAe8+Q35rV/k6H3U/Nan8vQ+6WNM6rQpnn4ofh8B70uQ35pU/l/pPuq/Mqmreh91ltBxwWXUHDLDG9D8PgPdlyb/Mqmren91EGw7gojqx8E7kuT7qXqrSG4gZpertrRnPK9eQSs9gHrV7ImR3mPRcTtDa3PuJgaAyCj1u0HHC4cUi69PhCt2Uk+ADKYBuEckVtSEQN4LQYEHOvQVCxrZNoYbnCzxBJ8E/YZH7JtcoXGLCo15CiyFJYjrVezJggi/KRKVrbAMh4gqUO0HNxv8AmS6uzNFQSbtbvVOjna9mTL0cJb0cB+x8EE7INF6CrscHA9wS1aiMrXetUc9nMy9E0cF2yDQdEF2yDQdF3HUuEIL9nTllOfk6f6Hnn7LyKAdnOi9DU2TglKuzQnRyJnMy4JR3OKaXBUaS6D6XBYLExGNzaEt0qdTTthQtRIshzXUuSGaXALpOasGkiXWU55ocPFZNHmuhulg0kLLrKIGlxVGknXN4rFhCy6yCRprBpJ11NDNNSxiyCm7VbrgmSxUWqWXUwG6wgHjeq3PA+foj2VYVbLqYuGfIhZczSPBNOd8vQSBqhbGaxewVESAojqDqZ9S2nZLecJGtQLMYXRe8gXXrmVaribyeS89CTPdNFBaAWAtgpmoFGwFpoWQVolByRKN7yFio6VgvGUrIKS/NjCw1O9nbTYMGY8kmHK5RToq1Z6QtDhIQKjQuOys5uvX2RW7a6ZuJJFxw7kyMrYicKQ7d8ChbwC3Ya4S39OEoRGnunqSZgyYmDdRQ37LyTAOqlpNU2YZ4E/KOZV2JI1tijDFd0kHC9AqUxPsnwyyOX1HRwfo4b9mcEFwOi7Y2cXnPJB+kmT6eqesvJzJ9G1/ycZwWS1dR2x/MUtU2SL5Edb0xTTMzwzj6FLMIZHBO1NlIGMpeoyLiEU0yNSj5AlqG9iPBQypZNQu6msmmmIVFqOxZTFHU0M0065oQzTQYxTE92FRpjP1TZpaIb6RCqNUxY0h8lYc35KYdTPwrBYeKAxTF4URSw8VFLLaj6RVfAXOdeVVWsSqaV55bH0WjQCI0LDURqNko0ApUZKsFaBQslCthba3gmCAVRpDKVVsNAwOCu9SzClqOClkaLs6LOfssOq5Y8EzQ2N7jfDR4qyKMaoVC0QBA53JljrWfgsDZ2iJdPNacR8CZrEODNbgH56LD6I5KjVOAF2qZp0GuaDJB8CrrJQiWG/Qi6MPVDdSOFy6L6AaL70NzJwanRymLJ03Ik2ly8/hQqZMldAUgMcUs8EG8XFNU7MWTp6oCBlCwKRvmPmifZRJF1wS1Sgb9VZTET6atxI7OP3iDJwi/ol62yC+L/mJXR3cCCcckNggG/kE1ZDHPpk9mjjGhzQ6lHDVdvd/y9UttFDhPomrJZin0ulWcr6ckGMtL1j6YxPquhV2dxuwAym5AbTOZ63qyf1EuFOmmIlqzHzBP7o33eF/K9LvYrKRRxa3F8FlwnP1Rn0iEMnUA+HkiFOvIJzflyC5vBNFrYzHkhGnxCAyxcgKkeyVESaj0QetgobQiNC81Z9QNgogKGEQIWEICtShzpHfjzgK2Mkxanw7lZQsq5oJIUbU+XeWK2KQGXsO4rbYGBu4XeOamlE1MjNnBvJs90+FyOzZWR+6487kOm/PxxPUq6lacz4DyClpFabGadMNFwjlChBwvjNBFQ5QeigeTN/ipYKChg0lQkaEdUOOMqAIfuQICMgtGoeXBCtDXzUDgihckH33JU+tp4IIjh5qNgK8ZIRODCycVic8UM1QMSs2pwlPjIx5I0MscSh1Dw6qmg5lZMZ+aYmjPJOgZB7+AQ3UuqcdUEXIc8PborqYiWFARTdGMeZQqmzz7Jqp3T8yKE55HHlorKTFTxR8MWdSgfJStXY7sI710HO1Q6m0SIBTIzkZcnT42tznGkQMeUpatROJv5J91UGRjHgsO2gReJ9u7JOUnwYcmGFeTm2JMOmclDSAuJCP9R1QdoBxhNTZkaila3FnNCG6noUdtOcwhuYri7AbviFEWwFEA2dpqI1AaVsuheXVt0j6t4GAVoPGaVdXkXCOMyT7LITIxS3ZWUm/A8AMjBzm5ac05zrcR1uSrCI9TgmGVBgPS7vKs5ldJsWdb9CP1WxGo81i0PnorB4meBCHkgW0OfzmpabosBrf5p5ohLeP9UBVYSbwH5Hoo5wyN3EKhV081prna+JQCapg6rYJQ3TmfnIrNNup81WwaQtvkoQdYWWiP0hVZ0JRsDRZUc9UKerj5+KuGfcR1RUijjYICUejdmhCoDMCVdqMoTFNiJYkPmISrzoEPfmFQqm65MjIzZMZdnVbDso8UVrCcQeiXexOUzNLE0RzuCw+cllzlVrRMTM8olOYcz3BBLOfBFgzh4qCkTdPcMO8pilRnljv0KGmNeixVY0XkmdBkm3UwLp6IL6QyTFIyzw/QUogG+zfjKM9wzsgnVEp0c7kptdKbhlgUxNNmaWNwh4Avpg538MEGpQj9QtV23gxhj8hBzPBORzppX4KsqlZlUriqOmCsVamXp5qE8YQh/wCQ8yvNRVKz6u3bCNdoZ5LQdBvIHM/JWWs+6/wHgtU3j+H/AE++PiiA0HN1HQnzRWBsTPmPRVb6/wBR6ojI+3jJjwVbDRpp4/OKYZSdGLR3X9yGHON4dhxgLIfd+/6oaiUGcDqO4ea0C3P1Pggsqxg6eEQtioNfBDUTSGDxl5H2UtuwgoZrHJXvXcULJRcOOfS5EDeJWRxVkjQdUVIDRtpAzjl7qnP5lUx2kdJ81T6nf84KWuCUVJz6K2s5rNPFHDoFwEq2z8FSrOgAVmnmitbme6de5YBJUpkbRbaYxInyWW1gCSADeIOV19yuq0mBIMoRIAv5T5wFKBsNfWHMdw9UrVcSgWu4ae6LTMZq0ZUJyY9RplOFpwVivlCga0jimrIZZYOBdyzK1Em69ZBT4yMc8QB4QyOKdtBBeBknRmZZ4RV77oS7wTxTZe3CFio6LohNjIx5MV+WJObAvJ5YpVx596eqX3Ypd7AtEZHNzYn6ANcNFStzb1SZsZLa2G31rQgNAGt0niSh3cTp7Fbpti7M6q7EZjqvO2fUC2tnLy8P0RmtJGIjCMuuaG1rcz4fPFEYxv8ANPD9FVljQ0wRCy6+eWA75KtrmtydfoTh1UdWaMuUqthNNoggYdw9ZVg33gn09ShRN8AcrlYjOVKJZYfOIjuRWVAI/euQt9NwgeBVsdwHM+yAQtsD58lQum/DmcfZDc9wyEcMlkVeMyqBGWnSPNFaNf7oNJ+coorNQIbLjhED5iohurz+hVb0AYXq1laD2xkraShCCJ/sqbWAylSwUH3pBW2vAEnDglxtA1QnV8sEU2yrQwapv8OSC9xOPcFlhKhJBvOdwTFuUYUvgLIvEq3KOdAQfkK8AnVboV0HERmsAraN0UcbGxWAyxulAqC+5XTOaYLgQrKdCp4rEnSh2kapTjA9UvUBC0RkYsmIoiVrd6rLrhfC2I1TVMyyxCtaiQZxSVWQZj3XRqvjM+CTrPBK0wmc3qMK9FBjf4hfmoguA+4+HurTTLo+iD1AAbge8k6Y3rQDdI5KKLhM96U0EmGewC0aFQ4n1VKKrdBW5GUXCRa5xd4qNpgTjdj+qiitZDTST+7hrhfoOhWrF0z3K1EPYfRbLkenjMk8/RWopICLfVGiHvhjBn0VKJaSLNhLTiJgKOnO5RRWaSAmXYBzKotj5KiiXZYoysyRgooiAMGCMSsimDmfNRRSyNGg6wDnN6pz7uOvJRRWjyVkYNW6VkVSVFE1iwjAFuzGCiiDIWSsurQoogRsDX2jqttAIzUUTIszTSMVQAEBz7ge7oootETHkSM1HE4nqhVGXC/4O5RRPizFkinZQoHVRRRX1MR24n//2Q==" class="card-img-top">
        <p class="card-text">bla bla bla</p>
        <p><small class="text-muted">Date</small></p>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img src="https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>