body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

// .bg {
//   background-image: url("creatives/inspo/background.png");
//   height: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

img {
  width: 100%;
}

.banner {
  display: table;
  width: 100%;
 }
  
 .hero {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
 }
  
 .container {
  width: 1170px;
  margin: 0 auto;
 }